@reference '../../../../app.css';

.video-js {
	@apply font-sans text-sm;
}

.video-js .vjs-control-bar {
	@apply bg-transparent px-2;
}

.video-js :is(.vjs-play-progress, .vjs-volume-level) {
	@apply bg-primary;
}

.video-js .vjs-control-bar button.vjs-control-button {
	@apply w-6;
}

.video-js .vjs-big-play-button {
	@apply scale-200 items-center justify-center rounded-full border-none bg-transparent focus:bg-transparent;
}

.video-js .vjs-big-play-button > .vjs-icon-placeholder:before {
	@apply flex items-center justify-center;
}

.video-js:hover .vjs-big-play-button {
	@apply bg-transparent;
}

@media screen and (max-width: 640px) {
	.video-js .vjs-seek-to-live-text {
		@apply p-2;
	}
	.video-js .vjs-control-bar .vjs-control.vjs-button {
		@apply max-w-8;
	}
}

.video-js
	:is(
		.vjs-load-progress,
		.vjs-play-progress,
		.vjs-progress-holder,
		.vjs-volume-bar.vjs-slider-horizontal,
		.vjs-volume-level
	) {
	@apply rounded-lg;
}

.video-js .vjs-load-progress {
	@apply bg-secondary;
}

.video-js .vjs-error-display {
	@apply flex items-center justify-center;
}

.video-js .vjs-error-display .vjs-modal-dialog-content {
	@apply flex flex-col items-center justify-center gap-2 font-sans text-sm;
}
